@font-face {
    font-family: 'Muli';
    src: url(../assets/fonts/Muli/Muli-Regular.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway/Raleway-Regular.ttf);
}


@import "../assets/fonts/font-awesome/css/font-awesome.min.css";

* {
  font-size: 14px;
  font-family: 'Muli', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1024px;
}

// @media(max-width: 991px) {

// }

// @media(min-width: 992px) {

// }
