@font-face {
    font-family: 'Muli';
    src: url(../assets/fonts/Muli/Muli-Regular.ttf);
}

@import "../assets/fonts/font-awesome/css/font-awesome.min.css";

* {
  font-size: 14px;
  font-family: 'Muli', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1024px;
}